@charset "UTF-8";
/* 
 em HTML é id = em CSS é # (só pode um elemento)
 em HTML é class = em CSS é .(pode vários elementos)
*/

body {
    background-color:#C1CAD6;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #631D76;
}
h2 {
    color: #9E4770;
}
h1#principal {
    text-align: center;
    color: #ffffff;
}
.basico {
    color: #37653b;
}
.intermediario {
    color: #afbc22;
}
.avancado {
    color: #c71f1f;
}
.destaque {
    background-color: #33a19cbe;
}
